.about-main {
    --transition: all 0.3s linear;
    --spacing: 0.1rem;
    --radius: 0.25rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --max-width: 150vw;
    --fixed-width: 620px;

    --section-padding: 50px;
    --button-hover-scale: 1.05;
    --menu-item-spacing: 2rem;
}


h2 {
    font-size: 2rem;
    letter-spacing: var(--spacing);
    text-transform: capitalize;
    line-height: 1.25;
    margin-bottom: 0.75rem;
}

@media screen and (min-width: 800px) {
    h2 {
        font-size: 2.5rem;
        line-height: 1;
    }
}


@media screen and (min-width: 992px) {
    .about {
        width: 100vw;
    }
}

.about {
    width: auto;
    max-width: var(--max-width);
    transition: var(--transition);

    font-family: "Raleway", sans-serif;
}

@media screen and (min-width: 992px) {
    .section-centar {
        width: 90vw; grid-template-columns: 3fr 1fr;
    }
}

.title {
    margin-bottom: var(--content-spacing);
    margin-top: 50px;
}



/* section */
.section {
    width: 90vw;
    margin: 0 auto;
    max-width: var(--max-width);
}

@media screen and (min-width: 992px) {
    .section {
        width: 95vw;
    }
}

/*
===============
About
===============
*/

.about {
    padding-top: 80px;

    background-image: url('https://imgs.search.brave.com/cdLxYTbsVsIuDuuBG4CtSoOKTaFZUEN26mVmwanqATo/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9pbWcu/ZnJlZXBpay5jb20v/cHJlbWl1bS1waG90/by9ibGFjay1nb2xk/LW1hcmJsZS10ZXh0/dXJlXzIzNjgzNi05/MTc5LmpwZz9zaXpl/PTYyNiZleHQ9anBn');
    background-size: cover;
    background-repeat: no-repeat;
    /*height: 765px;*/
    image-resolution: from-image;

}
.title {
    text-align: center;
    margin-bottom: 2rem;
}
.about-underline {
    width: 5rem;
    height: 0.25rem;
    background: var(--clr-gold);
    margin-left: auto;
    margin-right: auto;
}

.section-center {
    width: 1200px;
    /*margin: 0 auto;*/
    display: grid;
    gap: 3rem 2rem;
    justify-items: center;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);

    --border-radius: 0.5rem;
    --shadow-color: rgba(0, 0, 0, 0.2);
    --overlay-color: rgba(0, 0, 0, 1.0);
    --transition-speed: 0.5s;
    --card-width: 24rem;
    --card-height: 18rem;
}
.mission{
    background: #c59d5f;
    /*height: 200px;*/
    /*margin: 100px auto;*/
padding: 50px 150px;
    align-items: center;
    justify-items: center;
    padding-top: 50px;
    padding-bottom: 70px;
}

.miss-title{
    font-size: 50px;
    color: black;
    font-weight: bold;
}
.miss-text{
    padding-top: 50px;
    font-size: 20px;
    color: black;
 }

.values-text{
    grid-template-columns: 3fr 1fr;
    display: flex;
    width: 1200px;
    margin: 50px auto;
    align-items: center;
    justify-items: center;
}
.val{
width: 400px;
    border: 1px solid #ccc; /* Gray border color */
    border-radius: 5px; /* 5px border radius */
    padding: 30px;
    align-items: center;
    justify-items: center;
    margin: 50px 20px;
    height: 170px;
}
.values-title{
    padding-top: 70px;
    font-size: 50px;
    font-weight: bold;
}
.val-title{
    padding: 10px;
    font-size: 20px;
    color: #c59d5f;
}

.values{
    background: black;
    margin-top: -20px;
    /*height: 200px;*/
    /*margin: 100px auto;*/
    padding: 50px 150px;
    align-items: center;
    justify-items: center;
    padding-top: 50px;
    padding-bottom: 70px;
}

.loc-carousel-container {
    /*position: relative;*/
    position: fixed;
    width: 220px;
    margin-top: 0 ;
    perspective: 1000px;
}

.loc-carousel {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    animation: rotate360 60s infinite forwards linear;
}
.loc-carousel__face {
    position: absolute;
    width: 300px;
    height: 187px;
    top: 70px;
    left: 10px;
    right: 10px;
    background-size: cover;
    box-shadow:inset 0 0 0 2000px rgba(0,0,0,0.5);
    display: flex;
}



.loc-carousel__face:nth-child(1) {
    background-image: url("https://imgur.com/O9KRrg8.jpg");
    transform: rotateY(  0deg) translateZ(430px); }
.loc-carousel__face:nth-child(2) {
    background-image: url("https://leskovac.mk/wp-content/uploads/2020/12/tost-so-slanina.jpg");
    transform: rotateY( 40deg) translateZ(430px); }
.loc-carousel__face:nth-child(3) {
    background-image: url("https://imgur.com/GzKtb8f.jpg");
    transform: rotateY( 80deg) translateZ(430px); }
.loc-carousel__face:nth-child(4) {
    background-image: url("https://imgur.com/VEW04uJ.jpg");
    transform: rotateY(120deg) translateZ(430px); }
.loc-carousel__face:nth-child(5) {
    background-image: url("https://imgur.com/ujVRYuQ.jpg");
    transform: rotateY(160deg) translateZ(430px); }
.loc-carousel__face:nth-child(6) {
    background-image: url("https://imgur.com/O9KRrg8.jpg");
    transform: rotateY(200deg) translateZ(430px); }
.loc-carousel__face:nth-child(7) {
    background-image: url("https://imgur.com/46Sec2L.jpg");
    transform: rotateY(240deg) translateZ(430px); }
.loc-carousel__face:nth-child(8) {
    background-image: url("https://imgur.com/GzKtb8f.jpg");
    transform: rotateY(280deg) translateZ(430px); }
.loc-carousel__face:nth-child(9) {
    background-image: url("https://imgur.com/ujVRYuQ.jpg");
    transform: rotateY(320deg) translateZ(430px); }



@keyframes rotate360 {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(-360deg);
    }
}




.about-welcome{
    width: 900px; /* Set the width to 100% of the viewport width */
    max-width: 150rem; /* Adjust the maximum width for responsiveness */
    display: grid;
    gap: 3rem 2rem;
    margin: 120px auto;
    grid-template-columns: repeat(2, 1fr);
}

.about-part-1{
    align-items: center;
    text-align: right;
    font-size: 16px;
}

.about-title{
    font-size: 25px;
    font-weight: bold;
    display: block;
    padding-bottom: 50px;
    padding-top: 50px;
    color: #c59d5f;
}

.reviews{
    background: black;
    margin-top: -20px;
    padding: 50px 150px;
    align-items: center;
    justify-items: center;
    padding-bottom: 70px;
}

.rev{ grid-template-columns: 3fr 1fr;
    display: flex;
    width: 1200px;
    margin: 50px auto;
    align-items: start;
    justify-items: start;
}
.rev1{
width: 500px;
    border: 1px solid #ccc; /* Gray border color */
    border-radius: 5px; /* 5px border radius */
    padding: 30px;
    align-items: start;
    justify-items: left;
    margin: 0 20px;
    height: 170px;
    background-color: #222;
}
.revs-text{
    font-size: 30px;
    display: flex;
    margin-left: 200px;
    margin-bottom: 20px;
}
.rev-name{
    margin-left: -200px;
}

