

figure {
    display: grid;
    border-radius: var(--border-radius);
    overflow: hidden;
    cursor: pointer;
    width: var(--card-width);
    height: var(--card-height);
    box-shadow: 0 8px 10px var(--shadow-color);
    transition: transform var(--transition-speed);
}

figure > * {
    grid-area: 1/1;
}

figure figcaption {
    display: grid;
    align-items: start;
    justify-items: start;
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: #c59d5f;
    padding: 5px;
    background: linear-gradient(to top, var(--overlay-color), transparent);
    transform: translateY(100%);
    transition: transform var(--transition-speed);
    text-shadow:
            -1px -1px 0 #000, /* Top-left shadow */
            1px -1px 0 #000,  /* Top-right shadow */
            -1px 1px 0 #000,  /* Bottom-left shadow */
            1px 1px 0 #000;
}

figure:hover figcaption {
    transform: translateY(0);
}

figure:hover img {
    transform: scale(1.1);
}

img {
    width: 100%;
    height: 100%;
    transition: transform var(--transition-speed);
}

@supports not (-webkit-mask-clip: text) {
    figure figcaption {
        background: var(--overlay-color);
    }
}

.menu-item {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    border-radius: var(--border-radius);
}

.button:hover{
    border: 2px solid #c59d5f;
}
.button{
    width: 150px;
    height: 43px;
    align-items: center;
    justify-items: center;
    outline: 2px solid #c59d5f;
    color: #c59d5f;
}
.itemdesc {

    font-size:12px;
    color: #c59d5f;
}

.spanbuttonprice {
    margin-top: 100px;
    display: flex;
}

.itemprice{
    margin-left: 150px;
}