.promo-main {
    --transition: all 0.3s linear;
    --spacing: 0.1rem;
    --radius: 0.25rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --max-width: 150vw;
    --fixed-width: 620px;

    --section-padding: 50px;
    --button-hover-scale: 1.05;
    --menu-item-spacing: 2rem;
    background-image: url('https://imgs.search.brave.com/QVXMYwBUK2acfcJFz0dtiJr5PUVG63DqzNg61un3jlg/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9pbWcu/ZnJlZXBpay5jb20v/ZnJlZS12ZWN0b3Iv/YWJzdHJhY3QtYmxh/Y2stdGV4dHVyZS1i/YWNrZ3JvdW5kLWhl/eGFnb25fMjA2NzI1/LTQxMy5qcGc_c2l6/ZT02MjYmZXh0PWpw/Zw');
    background-size: cover;
    background-repeat: no-repeat;
    height: 720px;
}

.promo {
    width: 2000px;
    max-width: var(--max-width);
}
@media screen and (min-width: 992px) {
    .promo {
        width: 100vw;
    }
}

.promo {
    width: auto;
    margin: 0 auto;
    padding: var(--section-padding);
    max-width: var(--max-width);
    transition: var(--transition);
}
.promo {
    padding-top: 80px;
}
.promo-underline {
    width: 5rem;
    height: 0.25rem;
    background: var(--clr-gold);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.promo-div{
    width: 1200px;
margin: 20px auto;
    grid-template-columns: 3fr 1fr;
    display: flex;

}

@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");
.pname{
    font-size: 20px;
    display: flex;
    margin-left: 20px;
color: #c59d5f;
    margin-bottom: 20px;
}
.pprice{
    display: flex;
    margin-top: -40px;
    margin-left: 330px;
    margin-bottom: 20px;

}
.pcontainer {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 250px;
    gap: 10px;

> div {
    flex: 0 0 120px;
    border-radius: 0.5rem;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    /*box-shadow: 1px 5px 15px var(--clr-gold);;*/
    position: relative;
    overflow: hidden;

&:nth-of-type(1) {
     background: url("https://imgur.com/2dQ6hCd.jpg")
     no-repeat 50% / cover;
 }
&:nth-of-type(2) {
     background: url("https://imgur.com/GzKtb8f.jpg")
     no-repeat 50% / cover;
 }
&:nth-of-type(3) {
     background: url("https://imgur.com/RzFH4Gg.jpg")
     no-repeat 50% / cover;
 }
&:nth-of-type(4) {
     background: url("https://images.pexels.com/photos/247322/pexels-photo-247322.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260")
     no-repeat 50% / cover;
 }

.pcontent {
    font-size: 1.5rem;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 15px;
    opacity: 0;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
    background: rgb(2, 2, 46);
    background: linear-gradient(
            0deg,
            rgba(2, 2, 46, 0.6755077030812324) 0%,
            rgba(255, 255, 255, 0) 100%
    );
    transform: translatey(100%);
    transition: opacity 0.5s ease-in-out, transform 0.5s 0.2s;
    visibility: hidden;

span {
    display: block;
    margin-top: 5px;
    font-size: 1.2rem;
}
}

&:hover {
     flex: 0 0 250px;
     box-shadow: 1px 3px 15px var(--clr-gold);;
     transform: translatey(-30px);
 }

&:hover .content {
     opacity: 1;
     transform: translatey(0%);
     visibility: visible;
 }
}
}



.ptext{
    width: 400px;
    margin: 20px auto 50px auto;
}