/*
===============
Variables
===============
*/

:root {
    --clr-primary-1: hsl(205, 86%, 17%);
    --clr-primary-2: hsl(205, 77%, 27%);
    --clr-primary-3: hsl(205, 72%, 37%);
    --clr-primary-4: hsl(205, 63%, 48%);
    --clr-primary-5: hsl(205, 78%, 60%);
    --clr-primary-6: hsl(205, 89%, 70%);
    --clr-primary-7: hsl(205, 90%, 76%);
    --clr-primary-8: hsl(205, 86%, 81%);
    --clr-primary-9: hsl(205, 90%, 88%);
    --clr-primary-10: hsl(205, 100%, 96%);
    --clr-grey-1: hsl(209, 61%, 16%);
    --clr-grey-2: hsl(211, 39%, 23%);
    --clr-grey-3: hsl(209, 34%, 30%);
    --clr-grey-4: hsl(209, 28%, 39%);
    --clr-grey-5: hsl(210, 22%, 49%);
    --clr-grey-6: hsl(209, 23%, 60%);
    --clr-grey-7: hsl(211, 27%, 70%);
    --clr-grey-8: hsl(210, 31%, 80%);
    --clr-grey-9: hsl(212, 33%, 89%);
    --clr-grey-10: hsl(210, 36%, 96%);
    --clr-white: #fff;
    --clr-gold: #c59d5f;

    --clr-red-dark: hsl(360, 67%, 44%);
    --clr-red-light: hsl(360, 71%, 66%);
    --clr-green-dark: hsl(125, 67%, 44%);
    --clr-green-light: hsl(125, 71%, 66%);
    --clr-black: #222;
    --transition: all 0.3s linear;
    --spacing: 0.1rem;
    --radius: 0.25rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --max-width: 1170px;
    --fixed-width: 620px;
}

/*
===============
Global Styles
===============
*/

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 95vh;
    background: #000000;
    text-align: center;
    color: #E0E0E0;

    font-family: "Raleway", sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    letter-spacing: var(--spacing);
    text-transform: capitalize;
    line-height: 1.25;
    margin-bottom: 0.75rem;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 0.875rem;
}

@media screen and (min-width: 800px) {
    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 1.75rem;
    }

    h4 {
        font-size: 1rem;
    }

    body {
        font-size: 1rem;
    }

    h1,
    h2,
    h3,
    h4 {
        line-height: 1;
    }
}


.home-main {
    --transition: all 0.3s linear;
    --spacing: 0.1rem;
    --radius: 0.25rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --max-width: 2000px;
    /*--fixed-width: 620px;*/

    --section-padding: 50px;
    --button-hover-scale: 1.05;
    --menu-item-spacing: 2rem;
}

.home-underline {
    width: 5rem;
    height: 0.25rem;
    background: var(--clr-gold);
    margin-left: 46.7%;
    margin-right: auto;
}

.home {
    width: auto;
    transition: var(--transition);
    padding-top: 80px;
    font-family: "Raleway", sans-serif;
}


@media screen and (min-width: 992px) {
    .home {
        width: 100vw;
    }
}


.home {
    background-image: url('https://images.pexels.com/photos/2983101/pexels-photo-2983101.jpeg?auto=compress&cs=tinysrgb&w=600');
    background-size: cover;
    background-repeat: no-repeat;
    height: 765px;
    image-resolution: from-image;
    padding-top: 40px;
}

/* This centers the children within the parent vertically and horizontally */
.parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}


/* Center the logo image and adjust its size */
.logo {
    max-width: 100%; /* Ensures the image is responsive */
    width: 40rem; /* Adjust width as necessary, maintaining aspect ratio */
    height: 40rem; /* Maintain aspect ratio */
    margin-right: 50px;
}

/* Specifically target the last div child with the slogan text */
.parent > div:last-child {
    color: #555; /* A more muted color for the text */
    font-size: 1.25rem; /* A suitable text size for readability */
    font-weight: 600; /* Slightly bolder text for emphasis */
    letter-spacing: 1px; /* Space out the letters a little for a high-end feel */
    margin-top: 1rem; /* Space above the text */
    margin-bottom: 2rem; /* Space below the text */
    background: rgba(255, 255, 255, 0.85); /* A subtle white background for the text */
    padding: 0.5rem 1rem; /* Padding around the text */
    border-radius: 15px; /* Rounded corners for a soft, modern look */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* A light shadow for depth */
    max-width: fit-content; /* Fit the background closely to the text size */
    border: 1px solid #d4af37; /* A border to match the logo color */
}

/* WelcomeSection.css */
.welcome {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem; /* Ample padding for spacing */
    margin: 2rem auto; /* Center the section with some margin */
    gap: 2rem; /* Space between the text and the image */
}

.welcome .part-1 {
    flex-basis: 50%; /* Allocate space for the text */
}

.welcome .part-2 {
    flex-basis: 50%; /* Allocate space for the image */
    text-align: center; /* Center-align the image */
}

.welcome .news-title {
    display: block; /* Make the title a block element */
    font-size: 2rem; /* Large, readable font size for the title */
    margin-bottom: 1rem; /* Space after the title */
    font-weight: bold; /* Bold font for emphasis */
    color: lightgray; /* Dark color for the title for better contrast */
}

.welcome .part-1 p {
    font-size: 1rem; /* Suitable font size for the body text */
    line-height: 1.6; /* Increase line-height for readability */
    color: #ffffff; /* Darker text for better readability */
    padding-left: 60px;
    text-align: right;
}


.welcome .part-2 img {
    max-width: 80%; /* Ensure the image is fully responsive */
    height: auto; /* Maintain aspect ratio */
    border-radius: 0.25rem; /* Slightly rounded corners for the image */
}

.social-media {
    text-align: center; /* Center align the social media text and icons */
    margin-top: 1rem; /* Space above the social media section */
    font-size: 1rem; /* Font size for the text */
    color: gray; /* Dark color for the text */
    margin-bottom: 40px;
}

.social-media .sm-icon {
    width: 36px; /* Fixed width for social media icons */
    height: 36px; /* Fixed height for social media icons */
    margin: 0 0.5rem; /* Space around icons */
    vertical-align: middle; /* Align icons with the text vertically */
}

.social-media .sm-icon:hover {
    transform: scale(1.1); /* Slightly increase size on hover for interaction feedback */
}


.carousel-part {
    /*margin-top: 500px;*/
}

.info {
    background-image: url('https://imgs.search.brave.com/FIHGX5WdWFw3NULdmfeBO3cQJ_j3-nNWlUkuC2u6jRQ/rs:fit:500:0:0/g:ce/aHR0cHM6Ly93d3cu/c291dGhlcm5saXZp/bmcuY29tL3RobWIv/LV9Scmk1dmF2NHR0/aU5qMmFyRGFSTnp2/Ry1nPS8xNTAweDAv/ZmlsdGVyczpub191/cHNjYWxlKCk6bWF4/X2J5dGVzKDE1MDAw/MCk6c3RyaXBfaWNj/KCkvMjc0OTZfTWtp/dEVhc3lfRElHSV80/NF9wcmV2aWV3X3Nj/YWxlXzEwMF9wcGlf/MTUwX3F1YWxpdHlf/MTAwLWNjNGM1Y2M5/MGIxMjQ2NTA4MDZm/NWJhYTYwM2E0ZDQy/LmpwZw');
    background-size: cover;
    background-repeat: no-repeat;
    image-resolution: from-image;
    align-items: center;
    justify-items: center;
    height: 350px;
    margin-top: 720px;
}

/* LocationSection.css */
.location-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4rem auto; /* Increase margin to give it more presence on the page */
    padding: 2rem;
    max-width: 960px; /* Adjust max width as needed */
}

.location-info,
.working-hours {
    flex: 1; /* Distribute space evenly */
    text-align: center; /* Center the text */
    margin: 0 1rem; /* Add some space between the sections */
}

.location-section h2 {
    font-size: 2rem; /* Size for headings */
    margin-bottom: 0.5rem; /* Margin below headings */
    color: gray; /* Heading color */
    font-weight: bold; /* Bold font weight for headings */
}

.location-section p {
    font-size: 1.25rem; /* Size for paragraph text */
    line-height: 1.6; /* Line height for readability */
    color: gray; /* Text color */
}

@media (max-width: 768px) {
    .location-section {
        flex-direction: column; /* Stack the sections on top of each other */
    }

    .location-info,
    .working-hours {
        margin: 1rem 0; /* Adjust margin for stacked layout */
    }
}



.view-menu-text {
    color: #1c1c1c;
    font-weight: bold;
    font-size: 30px;
    padding-top: 100px;
    text-shadow: -1px -1px 0 white, /* Top-left shadow */ 1px -1px 0 white, /* Top-right shadow */ -1px 1px 0 white, /* Bottom-left shadow */ 1px 1px 0 white;
}

.btn-menu-view {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    border: 2px solid transparent; /* Use transparent border to avoid shifting */
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
    flex: 1; /* Make buttons flexible to fill space */
    text-align: center;
    min-width: 7rem;

    font-size: 20px;
    border-radius: 5px;
    padding: 12px 30px;
    transform: translateY(calc(var(--y, 0) * 1%)) scale(var(--scale));
    margin-bottom: 100px;
    margin-top: 50px;
    /*margin-top: 0px;*/
}

.news-text {
    font-size: 30px;
    display: flex;
    margin-left: 200px;
    margin-top: 90px;
    margin-bottom: 20px;
}

.news-title {
    font-size: 25px;
    font-weight: bold;
    display: block;
    padding-bottom: 50px;
    padding-top: 10px;
    color: #c59d5f;
}

.part-1 {
    align-items: start;
    text-align: right;
    font-size: 16px;
}





