
body{
    margin:0;
    overflow-x:hidden;
    height: 280px;
}

.footer{
    background: rgba(255, 255, 255, 0.1);
    font-family: "Raleway", sans-serif;
    text-align:center;
    padding: 50px;
}

.footer .row{
    /* width:100%; */
    margin:10px;
    padding:0.6% 0;
    color:gray;
    font-size:0.8em;
    text-align: center;
}

.footer-section {
    display: inline-block;
    vertical-align: top;
    margin-right: 100px;
    margin-left: 100px;
}

.footer .row a{
    text-decoration:none;
    color:gray;
    transition:0.5s;
}

.footer .row a:hover{
    color:#fff;
}

.footer .row ul{
    width:100%;
}

.footer .row ul li{
    display:inline-block;
    margin:0 10px;

}

.footer .row a i{
    font-size:2em;
    margin:0 1%;
}

@media (max-width:720px){
    .footer{
        text-align:left;
        padding:5%;
    }
    .footer .row ul li{
        display:block;
        margin:10px 0;
        text-align:left;
    }
    .footer .row a i{
        margin:0 3%;
    }
}

.hr-part {
    border: 1px solid #c59d5f;
    margin-top: 0;
}
.sm-icon{
    width: 20px;
    margin-left: 10px;
    margin-top: 5px;
    /*display: ;*/
}